<div class="container">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <img width="500 rem"
                    src="https://images.ecestaticos.com/MM-VZ_wnMuPJSXCM0oZeWpC4HZA=/0x0:1200x651/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F838%2Fc61%2F47e%2F838c6147e5ddd380aa6732dc996859d3.jpg">
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h5 class="fw-bold"> Descripcion del proyecto 1 </h5>
                <hr class="mb-10 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                <p>
                    Yo no soy y ni vi'a ser tu bizcochito
                    Pero tengo to' lo que tiene delito
                    Que me pongan en el sol, que me derrito
                    El mal de ojo que me manden me lo quito
                    Yo no soy y ni vi'a ser tu bizcochito
                    Pero tengo to' lo que tiene delito
                    Que me pongan en el sol, que me derrito
                    El mal de ojo que me manden me lo quito
                    Ta-ra-rá, ta-ra-rá, ta-tá
                    Ta-ra-ra-ta-tá-ra (me lo quito)
                    Ta-ra-rá, ta-ra-rá, ta-tá
                    Ta-ra-ra-ta-ta-tá-ra (que me manden me lo quito)
                    ¿Tú ere' el que pimpea o te pimpean a ti?
                    Yo elegí mi la'o desde el día en que nací
                    ¿Tú ere' el que pimpea o te pimpean a ti?
                    Yo elegí mi la'o desde el día en que nací
                    Ta-ra-rá, ta-ra-rá, ta-tá
                    Ta-ra-ra-ta-tá-ra (desde el día en que nací)
                    Ta-ra-rá, ta-ra-rá, ta-tá
                    Ta-ra-ra-ta-ta-tá-ra (desde el día en que nací)
                </p>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>

    <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <img width="500 rem"
                src=" https://estaticos-cdn.elperiodico.com/clip/e7dcb2fe-1141-4716-a48c-96796e1ca59a_alta-libre-aspect-ratio_default_0.jpg">
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="fw-bold"> Descripcion del proyecto2 </h5>
            <hr class="mb-10 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
                Pa', pero mírate
                No pienses más
                Na' que pensar
                Tan rico no puede ser
                De cuero na'
                Pero estoy encuera'
                Te quiero ride
                Como a mi bike
                Hazme un tape
                Modo Spike
                Yo la batí
                Hasta que se montó
                Segundo es chingarte
                Lo primero e' Dios
                So, so, so, so, so, so good
                Good
                Good
                So, so, so good, so, so, so good
                So, so, so good
                So good
                Mmm, so good
            </p>

        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
</div>