
<div class="row justify-content-center align-items-center g-2">
    <div class="col">
        <img width="300 rem" src="../../../assets/matijuana.png">
    </div>
    <div class="col">
        <h6 class="text-uppercase fw-bold">Contacto</h6>
        <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
            />
        <p><i class="fas fa-home mr-3"></i> Avear 4413, Santa Fe(3000)</p>
        <p><i class="fas fa-envelope mr-3"></i> matiaspostai@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 54 342 5917497</p>

    </div>
</div>